@{
    DatabaseReader _database = new DatabaseReader("127.0.0.1", "3306", "testing_database", "root", "root");

    SortedList<string, DatabaseReader.MySqlDataType> paramList = new SortedList<string, DatabaseReader.MySqlDataType>();
    paramList.Add("id", DatabaseReader.MySqlDataType.AutoIncrementId);
    paramList.Add("firstname", DatabaseReader.MySqlDataType.Text);
    paramList.Add("lastname", DatabaseReader.MySqlDataType.Text);
    paramList.Add("email", DatabaseReader.MySqlDataType.Text);
    paramList.Add("password", DatabaseReader.MySqlDataType.Text);
    _database.createTable("users", paramList);

    Session _session = new Session();
    //_session.login();


    if (IsPost && Request["button_logout"] == "true"){
        _session.logout();
    }

    if (IsPost && Request["form_regist"] == "true"){
        string fistname = Request.Form["r_first_name"];
        string lastname = Request.Form["r_last_name"];
        string email = Request.Form["r_email"];
        string password = Request.Form["r_password"];

        _session.registAccount(_database, fistname, lastname, email, password);
    }

    if (IsPost && Request["form_login"] == "true"){
        string email = Request.Form["l_email"];
        string password = Request.Form["l_password"];

        _session.login(_database, email, password);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>sidneydijkstra</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>

        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Lorum Ipsum</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    @*<li><a href="/">tab</a></li>*@
                    @{
                        if (_session.isLogedin())
                        {
                            <li>
                                <p class="right-align">@_session.id : @_session.firstname @_session.lastname : @_session.email</p>
                                <form class="right-align" action="/" method="post">
                                    <input type="hidden" name="button_logout" value="true" />
                                    <input class="waves-effect waves-light btn" type="submit" name="logout" value="Logout" />
                                </form>
                            </li>



                        }
                    }
                </ul>
            </div>
        </nav>

    </div>
    <div style="background-color: white;margin-left: 5%; margin-right: 5%;">
        <div class="row" style="margin-top: 20px">

            <div class="col s6">

                <h4>Lorem Ipsum</h4>
                <p>dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. </p>

            </div>

            <div class="col s6">

                <h4>Nam Pretium</h4>

                <blockquote>
                    Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                    Amet orci eget eros faucibus tincidunt.
                </blockquote>


                <blockquote>
                    Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
                    Nullam accumsan lorem in dui.
                </blockquote>

                <div class="card">
                    <div class="card-content">
                        <p>
                            Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @{
        if (!_session.isLogedin())
        {
            <div class="row">

                <form class="col s6" method="post" style="padding: 10px">
                    <input type="hidden" name="form_regist" value="true" />
                    <h4>Regist</h4>
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="r_first_name" id="r_first_name" type="text" class="validate">
                            <label for="r_first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="r_last_name" id="r_last_name" type="text" class="validate">
                            <label for="r_last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="r_email" id="r_email" type="email" class="validate">
                            <label for="r_email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="r_password" id="r_password" type="password" class="validate">
                            <label for="r_password">Password</label>
                        </div>
                    </div>
                    <div class="row center">
                        <input class="waves-effect waves-light btn" type="submit" name="login" value="Regist" />
                    </div>
                </form>

                <form class="col s6" method="post" style="padding: 10px">
                    <input type="hidden" name="form_login" value="true" />
                    <h4>Login</h4>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="l_email" id="l_email" type="email" class="validate">
                            <label for="l_email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="l_password" id="l_password" type="password" class="validate">
                            <label for="l_password">Password</label>
                        </div>
                    </div>
                    <div class="row center">
                        <input class="waves-effect waves-light btn" type="submit" name="login" value="Login" />
                    </div>
                </form>

            </div>

        }
        else
        {
            
            <div class="row">

                <form class="col s6" method="post" style="padding: 10px">
                    <input type="hidden" name="sd" value="true" />
                    <h4>Regist</h4>
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="r_first_name" id="r_first_name" type="text" class="validate">
                            <label for="r_first_name">Start Location</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="r_last_name" id="r_last_name" type="text" class="validate">
                            <label for="r_last_name">End Location</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="r_email" id="r_email" type="text" class="validate">
                            <label for="r_email">Restaurant</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="r_password" id="r_password" type="text" class="validate">
                            <label for="r_password">Time</label>
                        </div>
                    </div>
                    <div class="row center">
                        <input class="waves-effect waves-light btn" type="submit" name="login" value="Regist" />
                    </div>
                </form>

            </div>
        }
    }

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text">Augue Ipsum</h5>
                    <p class="grey-text text-lighten-4">
                        Duis vel nibh at velit scelerisque suscipit. Curabitur turpis. Vestibulum suscipit nulla quis orci.
                        Fusce ac felis sit amet ligula pharetra condimentum. Maecenas egestas arcu quis ligula mattis placerat.
                        Duis lobortis massa imperdiet quam. Suspendisse potenti.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container row">
                <p class="col s6 left-align">commodo.eros@vestibulum.com - 06 12345678</p>
                <p class="col s6 right-align">© 2019 copyright</p>
            </div>
        </div>
    </footer>

</body>
</html>
