@page
@model CulinaireTaxi.Pages.OrderPageModel
@{
    Layout = "~/Pages/App/_Layout.cshtml";

    ViewBag.Title = "Order";

}

@section head_stylesheets {
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1542186754" />
}

@section head_scripts {
    <script type="text/javascript" charset="utf-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
}

<div style="width: 60%; height:60%;" id="map">
    @{
        List<Company> companies = CompanyTable.RetrieveCompaniesOfType(0);

        for (int i = 0; i < companies.Count; i++)
        {
            @:<b>@companies[i].Latitude</b>
        }
    }
</div>

<form method="post">
    <input type="hidden" name="location" />
</form>

@section body_scripts {
    <script src="~/js/Map.js"></script>
    <script>
        @{
           // List< Company> companies = CompanyTable.RetrieveCompaniesOfType(0);
           @:var comp = {};
            for (int i = 0; i < companies.Count; i++)
            {
                @:comp['x'] = @companies[i].Latitude;
                @:comp['y'] = @companies[i].Longtitude;
                @:CreateDestinationMarker(comp);
                @:console.log(comp);
            }
            }
    </script>
}
