@page
@model CulinaireTaxi.Pages.RegisterModel
@{
    Layout = null;

    if (UserAgent.IsAuthenticated)
    {
	Response.Redirect("/Account");
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
</body>
</html>
