@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section head_stylesheets {
    @RenderSection("head_stylesheets", required: false)
}

@section head_scripts {
    @RenderSection("head_scripts", required: false)
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 my-5 shadow bg-secondary rounded">
            <form class="py-4" method="post">
                @RenderBody()
            </form>
        </div>
    </div>
</div>

@section body_scripts {
    @RenderSection("body_scripts", required: false)
}
