@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="branding my-1 text-center text-white text-shadow">
    <a href="~/Index">CulinaireTaxi</a>
</h1>
<hr class="w-75" />
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 bg-secondary rounded-top">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 offset-lg-3 bg-secondary">
            <h5 class="decorated-header text-center">Register as Customer</h5>
            <a href="~/Portal/RegisterCustomer">
                <img class="d-block mx-auto img-fluid rounded" src="~/images/icons/customer_icon.png" />
            </a>
            <br />
        </div>
        <div class="col-lg-3 bg-secondary border-left border-secondary">
            <h5 class="decorated-header text-center">Register as Company</h5>
            <a href="~/Portal/RegisterCompany">
                <img class="d-block mx-auto img-fluid rounded" src="~/images/icons/company_icon.png" />
            </a>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3 bg-secondary rounded-bottom">
            <p class="text-center">Already have an account? <a href="/Portal/Login">Login here</a></p>
        </div>
    </div>
</div>
